.testimonials {
    background-color: $lightGrayishBlue;
    padding: rem(50) rem(20);

    @include breakpoint-up(large) {
        display: grid;
        gap: rem(30);   
        padding: rem(60); 
    }
    
    blockquote{
        line-height: 1.7;
    }

    .testimonial {
        border-radius: rem(11);
        margin-bottom: rem(30);

        @include breakpoint-up(large) {
            margin-bottom: 0;
        }

        &_container {
            padding: rem(24) rem(36) rem(33) rem(30);
        }

        .profile {
            display: flex;
            flex-direction: row;
            margin-bottom: rem(20);

            &_img {
                width: rem(30);
                height: rem(30);
                border-radius: 50%;
                margin-right: rem(16);
                border: 1px solid $lightGray;
            }

            .wrapper {
                .author {
                    font-size: rem(15);
                }

                .job {}

            }
        }

        .title {
            font-size: rem(23);
            margin-bottom: rem(20);
        }

        .text {
            width: 85%;
        }

    }


}

.card-1 {
    position: relative;
    background-image: url('/images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 85% 0%;
}