// Primary Colors
$moderateViolet: hsl(263, 55%, 52%);
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$veryDarkBlackishBlue: hsl(219, 29%, 14%);

//Netrual Colors
$lightGray: hsl(0, 0%, 81%);
$lightGrayishBlue: hsl(210, 46%, 95%);

$black: #000000;
$white: hsl(0, 0%, 100%);

// Font Family
$fontFamilyBarlow: 'Barlow Semi Condensed', sans-serif;
$fontSizeBody: rem(13);